.ant-upload-wrapper.ant-upload-picture-card-wrapper {
    display: flex;
}

.card{
        width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content:center;
        align-items: center;
        gap:100px;
        &__row{
            display: flex;
            justify-content:center;
            align-items: center;
            gap: 5px;
            padding-top: 10px;
        }
        &__image{
            display: flex;
           justify-content:center;
           align-items: center;
        }

}